body.modal-open {
    overflow: hidden;
  }
  
  .auth-backdrop {
    position: fixed;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
  
    background-color: rgba(0, 0, 0, 0.7);
  
    opacity: 1;
    overflow-y: scroll;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .auth-backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .auth-backdrop.is-hidden .auth-modal {
    transform: translate(-50%, -50%) scale(0, 9);
  }
  
  .auth-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
  
    @media screen and (min-width: $mobile-upper) {
      padding-right: 22px;
      padding-left: 22px;
    }
  
    @media screen and (min-width: $table-upper) {
      padding-right: 20px;
      padding-left: 20px;
      max-width: $table-upper;
    }
  }
//     max-width: 320px;
//     padding-top: 15px;
//     padding-bottom: 15px;

//     @media screen and (min-width: $mobile-upper) {
//         margin-right: 59px;
//         margin-left: 59px;
//       }
// }

.auth-modal{
    position: relative;
    background-color: $modalbgc;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
    padding-top: 57px;

    @media screen and (min-width: $mobile-upper) {
        padding-left: 103px;
        padding-right: 102px; 
  }
    @media screen and (min-width: 768px) {
        width: 650px;
  }
  
  &-close{
      position: absolute;
      top: 15px;
      right: 14px;
      background-color: inherit;
      border:none;
  }
}
        
.auth-modal-title{
    // width: 442px;
    // display: block;
    margin-bottom: 20px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;

    @media screen and (min-width: $mobile-upper) {
        width: 442px;
    }
}

.primary{
    @media screen and (min-width: $mobile-upper) {
    text-align: center;
    margin-bottom: 34px;
    }    
}
    
.secondary{
    @media screen and (min-width: $mobile-upper) {
        margin-bottom: 37px;
    }
}

.auth-modal-button-google{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 41px;
    width: 142px;
    height: 51px;
    border: none;
    background-color: #fff;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    
    &-text{
        font-size: 14px;
        font-weight: bold;
    }

    &-icon{
        margin-right: 10px;
    }
}

.auth-modal-form{
    position: relative;
    margin-top: 25px;
}

.auth-modal-input{
    position: relative;
    display: block;
    width: 251px;
    height: 56px;
    padding-left: 25px;
    justify-content: center;
    // color:  #BBBBBB; цвет плейсхолдера надо поменять
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #BBBBBB;

    @media screen and (min-width: 320px) {
        width: 442px;
    }
}

.auth-input-label{
    position: absolute;
    // top:20px;
    left:25px;
    transform: translateY(50%);
    // margin-bottom: 4px;
    font-size: 14px;
    color: #757575;
    // transition: transform 250ms;

    // &-mail{
    //     top:20px;
    // }

    // &-password{
    //     top:0px;
    // }
}
   
.email{
    margin-bottom: 15px;
}

.password{
    margin-bottom: 31px;
}

.auth-modal-button{
    align-items: center;
    text-align: center;
    width: 118px;
    height: 50px;
    @media screen and (min-width: $mobile-upper) {
        width: 210px;
    }
}

.log-in{
    margin-right: 9px;
    border: none;
    background-color:#FF6B09;

    @media screen and (min-width: $mobile-upper) {
        margin-right: 20px;
    }

    &-text{
        color:#fff;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
    }
}

.sign-in{
    border: 1px solid #BBBBBB;
    background-color: $modalbgc;

    &-text{
        color:$basic;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
    }
}

.error{
    position: absolute;
    top:50px;
}

.my-office {
    margin-left: 10px;
}

.header__button.logout {
    height: 70px;
    
    padding: 20px;
    border: 1px solid #E2E3E5;
}

.header__button.account{
    height: 70px;
    padding: 20px;

    &:hover .auth-hover{
            transition-property: opacity;
            opacity: 1;
            visibility: visible;
            pointer-events: all;
    
            top: 100%;
        
    }
}

.online {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */

letter-spacing: 0.02em;
text-transform: uppercase;
}
.account {
    position: relative;
}
.auth-hover {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    position: absolute;
    left: 8px;
    top: 90%;

    width: 206px;
    height: 94px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    
    padding-left: 20px;
    
    background: #F5F6FB;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
    
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    
    letter-spacing: 0.02em;
    
    
}
// .auth-input-label + .auth-modal-input:focus,
// .auth-input-label + .auth-modal-input:not(:placeholder-shown) {
//     color: #2196F3;
//     transform: translate(-26px, -50px);
//     // visibility: hidden;
// }



