{{#each this}}
<li class="filter__item">
    <button class="filter__button property">Нерухомість</button>
</li>
<li class="filter__item">
    <button class="filter__button transport">Транспорт</button>
</li>
<li class="filter__item">
    <button class="filter__button work">Робота</button>
</li>
<li class="filter__item">
    <button class="filter__button electronics">Електроніка</button>
</li>
<li class="filter__item">
    <button class="filter__button business">Бізнес та послуги</button>
</li>
<li class="filter__item">
    <button class="filter__button recreation">Відпочинок і спорт</button>
</li>
<li class="filter__item">
    <button class="filter__button free">Віддам безкоштовно</button>
</li>
<li class="filter__item">
    <button class="filter__button trade">Обмін</button>
</li>
{{/each}}