// device type

$mobile-lesser: 767px;
$mobile-upper: 768px;
$table-lesser: 1279px;
$table-upper: 1280px;

$mobile: 320px;
$before-mobile: $mobile - 1px;
$post-mobile: $mobile + 1px;
$tablet: 768px;
$before-tablet: $tablet - 1px;
$post-tablet: $tablet + 1px;
$desktop: 1280px;
$before-desktop: $desktop - 1px;
$post-desktop: $desktop + 1px;

// color

$basic: #000000;
$accent: #ff6b09;
$modalbgc: #f5f6fb;
$secondary: #ffffff;
$accent: #ff6b09;
$menu-color: #f5f6fb; /*для мобилок и планшетов*/
$border-color: #e2e3e5;
$body-color: #e5e5e5;
