<button class="btn-category-property">Нерухомість</button>
<button class="btn-category-transport">Транспорт</button>
<button class="btn-category-work">Робота</button>
<button class="btn-category-electronics">Електроніка</button>
<button class="btn-category-business">Бізнес та послуги</button>
<button class="btn-category-recreation">Відпочинок і спорт</button>
<button class="btn-category-free">Віддам безкоштовно</button>
<button class="btn-category-trade">Обмін</button>
<form class="search-form">
    <input type="text" name="query" />
</form>
<button class="load-more">Загрузить еще</button>

<section class="section">
    <div class="category-container">
        <button type="button" class="swipe-left">
            <svg width="6px" height="9px" class="swipe-left-icon">
                <use href="./images/symbol-defs.svg#icon-chevron-left"></use>
            </svg>
        </button>
        <button type="button" class="swipe-right">
            <svg width="6px" height="9px" class="swipe-right-icon">
                <use href="./images/symbol-defs.svg#icon-chevron-right"></use>
            </svg>
        </button>
        <h2 class="name-category">
            <span class="psevdo-after">Розпродаж</span> Різне
            <button type="button" class="show-all">Дивитися всі</button>
        </h2>

        <ul class="flex-category category-rend"></ul>
    </div>
</section>
<section class="section">
    <div class="category-container">
        <button type="button" class="swipe-left">
            <svg width="6px" height="9px" class="swipe-left-icon">
                <use href="./images/symbol-defs.svg#icon-chevron-left"></use>
            </svg>
        </button>
        <button type="button" class="swipe-right">
            <svg width="6px" height="9px" class="swipe-right-icon">
                <use href="./images/symbol-defs.svg#icon-chevron-right"></use>
            </svg>
        </button>
        <h2 class="name-category">
            Нерухомість
            <button type="button" class="show-all">Дивитися всі</button>
        </h2>

        <ul class="flex-category property"></ul>
    </div>
</section>
<section class="section">
    <div class="category-container">
        <button type="button" class="swipe-left">
            <svg width="6px" height="9px" class="swipe-left-icon">
                <use href="./srс/images/symbol-defs.svg#icon-chevron-left"></use>
            </svg>
        </button>
        <button type="button" class="swipe-right">
            <svg width="6px" height="9px" class="swipe-right-icon">
                <use href="./images/symbol-defs.svg#icon-chevron-right"></use>
            </svg>
        </button>
        <h2 class="name-category">
            Транспорт
            <button type="button" class="show-all">Дивитися всі</button>
        </h2>

        <ul class="flex-category transport"></ul>
    </div>
</section>
<section class="section">
    <div class="category-container">
        <button type="button" class="swipe-left">
            <svg width="6px" height="9px" class="swipe-left-icon">
                <use href="./images/symbol-defs.svg#icon-chevron-left"></use>
            </svg>
        </button>
        <button type="button" class="swipe-right">
            <svg width="6px" height="9px" class="swipe-right-icon">
                <use href="./images/symbol-defs.svg#icon-chevron-right"></use>
            </svg>
        </button>
        <h2 class="name-category">
            Робота
            <button type="button" class="show-all">Дивитися всі</button>
        </h2>

        <ul class="flex-category work"></ul>
    </div>
</section>
<section class="section">
    <div class="category-container">
        <button type="button" class="swipe-left">
            <svg width="6px" height="9px" class="swipe-left-icon">
                <use href="./images/symbol-defs.svg#icon-chevron-left"></use>
            </svg>
        </button>
        <button type="button" class="swipe-right">
            <svg width="6px" height="9px" class="swipe-right-icon">
                <use href="./images/symbol-defs.svg#icon-chevron-right"></use>
            </svg>
        </button>
        <h2 class="name-category">
            Електроніка Тест
            <button type="button" class="show-all">Дивитися всі</button>
        </h2>

        <ul class="flex-category electronics"></ul>
    </div>
</section>
<section class="section">
    <div class="category-container">
        <button type="button" class="swipe-left">
            <svg width="6px" height="9px" class="swipe-left-icon">
                <use href="./images/symbol-defs.svg#icon-chevron-left"></use>
            </svg>
        </button>
        <button type="button" class="swipe-right">
            <svg width="6px" height="9px" class="swipe-right-icon">
                <use href="./images/symbol-defs.svg#icon-chevron-right"></use>
            </svg>
        </button>
        <h2 class="name-category">
            Бізнес та послуги
            <button type="button" class="show-all">Дивитися всі</button>
        </h2>

        <ul class="flex-category business"></ul>
    </div>
</section>
<section class="section">
    <div class="category-container">
        <button type="button" class="swipe-left">
            <svg width="6px" height="9px" class="swipe-left-icon">
                <use href="./images/symbol-defs.svg#icon-chevron-left"></use>
            </svg>
        </button>
        <button type="button" class="swipe-right">
            <svg width="6px" height="9px" class="swipe-right-icon">
                <use href="./images/symbol-defs.svg#icon-chevron-right"></use>
            </svg>
        </button>
        <h2 class="name-category">
            Відпочинок і спорт
            <button type="button" class="show-all">Дивитися всі</button>
        </h2>

        <ul class="flex-category recreation"></ul>
    </div>
</section>
<section class="section">
    <div class="category-container">
        <button type="button" class="swipe-left">
            <svg width="6px" height="9px" class="swipe-left-icon">
                <use href="./images/symbol-defs.svg#icon-chevron-left"></use>
            </svg>
        </button>
        <button type="button" class="swipe-right">
            <svg width="6px" height="9px" class="swipe-right-icon">
                <use href="./images/symbol-defs.svg#icon-chevron-right"></use>
            </svg>
        </button>
        <h2 class="name-category">
            Віддам безкоштовно
            <button type="button" class="show-all">Дивитися всі</button>
        </h2>

        <ul class="flex-category free"></ul>
    </div>
</section>
<section class="section">
    <div class="category-container">
        <button type="button" class="swipe-left">
            <svg width="6px" height="9px" class="swipe-left-icon">
                <use href="./images/symbol-defs.svg#icon-chevron-left"></use>
            </svg>
        </button>
        <button type="button" class="swipe-right">
            <svg width="6px" height="9px" class="swipe-right-icon">
                <use href="./images/symbol-defs.svg#icon-chevron-right"></use>
            </svg>
        </button>
        <h2 class="name-category">
            Обмін
            <button type="button" class="show-all">Дивитися всі</button>
        </h2>

        <ul class="flex-category trade"></ul>
    </div>
</section>