<div class="favorite-container container">
    <div>
        <div class="categories-title favorite-title">
            <a data-action="prev-card" class="icon-left arrow prev f-icon">
                <svg class="icon-left-svg" height="18">
                    <use href="./src/images/symbol-defs.svg#icon-chevron-left"></use>
                </svg>                        
            </a>
            <h2 class="favorite-title-h2">Мої оголошення</h2>
            <a data-action="next-card" class="icon-right arrow next f-icon">
                <svg class="icon-right-svg" height="18">
                    <use href="./src/images/symbol-defs.svg#icon-chevron-right"></use>
                </svg>
            </a>
        </div>
        <ul data-action="add-owns" class="product-card-group images own">
            {{!-- Карточки товара "Мої оголошення" --}}
        </ul>
    </div>
    <div>
        <div class="categories-title favorite-title">
            <a data-action="prev-card" class="icon-left arrow prev f-icon">
                <svg class="icon-left-svg" height="18">
                    <use href="./src/images/symbol-defs.svg#icon-chevron-left"></use>
                </svg>                        
            </a>
            <h2 class="favorite-title-h2">Обране</h2>
            <a data-action="next-card" class="icon-right arrow next f-icon">
                <svg class="icon-right-svg" height="18">
                    <use href="./src/images/symbol-defs.svg#icon-chevron-right"></use>
                </svg>
            </a>
        </div>
        <ul data-action="add-favorites" class="product-card-group images">
            {{!-- Карточки товара "Обране" --}}
        </ul>
    </div>
</div>
    