<main>

    <section class="section">
        <div class="main-container">
            <!-- !!! вставляем сюда, динамически свой код  -->
        </div>

        <ul class="pagination-container">
            <button data-atribute="one-page" class="button-next-pages button-is-hiden">1</button>
            <button data-atribute="two-page" class="button-next-pages button-is-hiden">2</button>
            <button data-atribute="three-page" class="button-next-pages button-is-hiden">3</button>
        </ul>
    </section>

</main>