<div class="product-backdrop isHidden js-product-backdrop"></div>
<div class="modal-wrapper">

	<button class="close-btn" data-action="close">
		<svg>
			<use href="src/images/sprite.svg#icon-close"></use>
		</svg>
	</button>

	<div class="product-container js-product">
	</div>
</div>