<div class="search-modal">
    <div class="search-modal-overlay"></div>
    <div name="search" class="search-modal-content">
        <input name="q" class="search-modal-input" type="text" placeholder="ПОШУК">
        <button class="search-modal-button-search">
            <svg class="search-modal-button-icon-search">
                <use href="./src/images/symbol-defs.svg#icon-search"></use>
            </svg>
        </button>
        <span class="error-message">За Вашим запитом товарів не знайдено</span>
        <button type="button" class="search-modal-button-close">
            <svg class="search-modal-button-icon-close">
                <use href="./src/images/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
    </div>
</div>